<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.mybatis.mapper.DynamicSQLMapper">
    <!--List<Company> getCompanyBywhere(Company company);-->
    <select id="getCompanyBywhere" resultType="Company">
        select * from com
        <where>
            <if test="Rank !=null and Rank!=''">
                Rank=#{Rank}
            </if>
            <if test="Name !=null and Name!=''">
                and Name=#{Name}
            </if>
            <if test="price !=null and price!=''">
                and price>#{price}
            </if>
            <if test="country !=null and country!=''">
                and country!=#{country}
            </if>

        </where>
    </select>

    <!-- List<Company> getCompanyByforeach(@Param("countrys") String[] countrys);-->
    <select id="getCompanyByforeach" resultType="company">
        select * from com where country in
        <foreach collection="countrys" separator="," item="country" open="(" close=")">
            #{country}
        </foreach>
        order by marketcap desc limit 0,10
    </select>

</mapper>